[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-environ = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
gunicorn = "*"
whitenoise = "==6.8.2"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
